

.logo{
    width: 60px;
    height: 60px;
    background-color: #00ADE6 ;
    padding: 5px  5px;
    color: white;
    font-size: 12px;
    font-size: bold;
    position: relative;

}
 .logo .nombre{
    font-size: 22px;
    position: absolute;
    top: 12px;

}

.site-nav-bar{
    background-color: #00A7E3;
}

.nav .nav-item a{
    color: white;
    font-size: 14px;
    
}

.nav-highlight{
    background-color:#4DC2EB ;
    padding: 0px 6px;
    margin: 0.5rem 0.5rem;
    border-radius: 5px;
}
.site-info{
    background-color: #000145;
    color:white;
    padding: 5px;
}
.info-continu-titre{
    background-color: black;
    color: white;
    padding: 5px 15px;
    font-size: 22px;


}
.info-continu{
    background-color: #EEEEEE;
}
.info-heure{
    background-color: #00A7E3;
    color: white;
    padding: 5px;
}
